body{
  background: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  padding-top: 20px;
}
#mascot{
  /* margin-top: 64px; */
  width: 75%;
  cursor: pointer;
}
.controls{
  margin: 20px;
}
.link {
  margin: 8px;
  text-decoration: none;
}